@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
    font-family: "Geist", sans-serif;
}

.issues-container {
    max-width: 1600px;
    /*? width: 69.38%; --> as par figma design*/ 
    width: 73%;  /** here i use 73 for my 100% screen*/
    margin: 0 auto;
}

.text-color-main {
    color: #1F2937;
}

.text-color-gray{
    color: #64748B;
}