@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
    font-family: "Geist", sans-serif;
}

.issues-container {
    max-width: 1600px;
    width: 73%;
    margin: 0 auto;
}

.text-color-main {
    color: #1F2937;
}

.text-color-gray{
    color: #64748B;
}